body {
    width: auto;
    margin: 0px 5vw;
    /*border: 1px black solid;*/
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
}

.main_container {
    display: flex;
    flex-direction: column;
}

.container_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}

.container_3 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.ramka_skills,
.ramka_wyksztalcenie,
.osobowe,
.ramka,
.ramka_hobby,
.ramka_dane {
    border: 3px solid rgb(80, 50, 200);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: medium;
    box-shadow: 15px 15px 60px -25px rgba(66, 68, 90, 1);
    line-height: 10px;
    margin-top: 40px;
    background-color: whitesmoke;
}

.ramka_dane > h3 {
    text-align: center;
    margin-top: -30px;
}

.ramka_skills > h3,
.ramka_wyksztalcenie > h3,
.ramka_hobby > h3,
.ramka > h3 {
    margin-top: -30px;
}

td > img,
.ramka > img,
.ramka_wyksztalcenie > h3,
.ramka_dane > img {
    padding-right: 5px;
}

td > img ~ p,
.ramka_wyksztalcenie > img ~ p,
.ramka > img ~ p,
.ramka_dane > img ~ p {
    display: inline-block;
}

.ramka_skills > ul > li,
.ramka_wyksztalcenie > p,
.ramka > ul > li,
.ramka > ul {
    line-height: 20px;
}

.cv {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.imie {
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.podpis {
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    text-align: right;
    font-family: Bradley Hand, cursive;
    margin-top: 10px;
}

.lewy_odstep {
    padding-left: 10px;
}

.osobowe {
    text-align: center;
    line-height: 20px;
}



@media only screen and (min-width: 1080px) {
    .container_3,
    .container_2 {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1079px) {
    .container_2 {
        justify-content: center;
    }
    
    .container_3 {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 999px) {
    .container_3,
    .container_2 {
        justify-content: center;
    }
    
}

.ramka_skills:hover,
.ramka_wyksztalcenie:hover,
.osobowe:hover,
.ramka:hover,
.ramka_hobby:hover,
.ramka_dane:hover {
    animation: pulse 1s;
    --animate-duration: 0.2s;
}
